<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Movies" asp-action="Index">Movie app</a>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
